<footer>
    <nav class="footer">             
      <a href="https://github.com/avang006">GitHub</a>
      <a href="http://avang006.github.io/"> GitHub.io </a>
      <a href=" https://avang006.github.io/web250/"> WEB250.io </a>
      <a href="https://www.codecademy.com/profiles/avang006"> Codecademy </a>
      <a href="https://www.freecodecamp.org/avang006"> FreeCodeCamp</a>
      <a href="https://jsfiddle.net/user/avang006/fiddles/"> JSFiddle</a>
      <a href="https://www.linkedin.com/in/alyssa-vang-3a8723191/"> LinkedIn</a>
      
      <p>
        <a href="https://validator.w3.org/check?uri=" id="validation_link_html">Validate HTML
        </a><a href="https://jigsaw.w3.org/css-validator/check/referer?uri="id="validation_link_css">Validate CSS
        </a>
           <p>Designed by AV &copy;2024</p>
          <script>
document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>
      </p></nav>
  </footer>
