<header>
  <title>Home</title>
    <div class="header">
          <h1>Alyssa Vang Amazing Viper <div class="vl"></div> WEB215 <div class="vl"></div> %header%</h1>
    <p class="tagline">Elegant Gestures, Captivating Hearts</p></div>
    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="contract.html">Contract</a>
        <a href="introduction.html">Introduction</a>
        <a href="brand.html">Brand</a>
        <a href="introductionform.html">Introduction Form</a></nav>

</header>
