<footer>
    <nav class="footer">             
      <a href="https://github.com/avang006">GitHub</a>
      <a href="http://avang006.github.io/WEB250"> WEB250.io </a>
      <a href="https://www.codecademy.com/profiles/avang006"> Codecademy </a>
      <a href="https://www.freecodecamp.org/avang006"> FreeCodeCamp</a>
      <a href="https://jsfiddle.net/user/avang006/fiddles/"> JSFiddle</a>
      <a href="https://www.linkedin.com/in/alyssa-vang-3a8723191/"> LinkedIn</a>
      
      <p>
           <p>Designed by AV &copy;2024</p>
      </p></nav>
  </footer>
