<footer>
    <nav class="footer">             
      <a href="https://github.com/avang006">GitHub</a>
      <a href="https://avang006.github.io/">GitHub.io</a>
      <a href="index.html">WEB250.io</a>
      <a href="https://www.codecademy.com/profiles/avang006">Codecademy</a>
      <a href="https://www.freecodecamp.org/avang006">freeCodeCamp</a>
      <a href="https://jsfiddle.net/u/avang006/fiddles/">JSFiddle</a>
      <a href="https://www.linkedin.com/in/alyssa-vang-3a8723191/">LinkedIn</a>
      
      <p>
           <p class="center">Designed by <a href="https://avang.space/businesscard.html" id="bus">AVDesigns</a> &copy;2024</p>
      </p></nav>
  </footer>
