<header>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
   <title>Home</title>
   <div class="header">
      <h1>%header%</h1>
      <h2>
         "Dance of the heart"
      </h2>
   </div>
   <nav class="navbar">
      <a href="index.html">Home</a>
      <a href="contract.html">Contract</a>
      <a href="introduction.html">Introduction</a>
      <a href="brand.html">Brand</a>
   </nav>
</header>
