@font-face {
  font-family: BAHNSCHRIFT light;
  font-style: normal;
  font-weight: 400;
  src: local("BAHNSCHRIFT light"), url("https://avang006.github.io/components/BAHNSCHRIFT.TTF");
}

@font-face {
  font-family: countryside;
  font-style: normal;
  font-weight: 400;
  src: local("countryside"), url("https://avang006.github.io/components/COUNTRYSIDE-YDKJ.TTF");
}

body	{
  	margin-left: auto;
  	margin-right: auto;
	  flex-direction: column;
    display: flex;
  	font-family: BAHNSCHRIFT light;
  	color: #194759;
  	background-color: #7dbfb3;
  	font-size: 100%;
    min-height: 100vh;
}
#heading	{
	margin-left: auto;
  margin-right: auto;
  color: #eBF2F1;
  font-family: Palatino;
	text-align: center;
  font-size: 100%;
}
.navlink  {
  text-decoration: none;
  text-align: center;
  padding: 10px;
 }
#page_wrapper {
    width: 200%;
    max-width: 1024px;
    margin: 0 auto;
}
a:link {
  color: #eBF2F1;
  background-color: transparent;
  text-decoration: underline dotted;
  font-family: BAHNSCHRIFT light;
}

a:visited {
  color: #eBF2F1;
  background-color: transparent;
  text-decoration: strikethrough;
}

a:hover {
  color: #4F7369;
  background-color: transparent;
  text-decoration: underline dotted;
}

a:active {
  color: #eBF2F1;
  background-color: transparent;
  text-decoration: underline overline #eBF2F1;
}
header {
    background-color: #7dbfb3;
}
nav {
    height: 50px;
    background-color: #7dbfb3;
    text-align: center;
    width: 100%;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
    background-color: #194659;
    width: 100%;
}
nav li {
    display: inline-block;
    height: 100%;
    padding: 10px;
}
nav li a {
    font-family: cursive;
    color: #eBF2F1;
    font-size: 16px;
    text-decoration: none;
    
}
nav li a:hover {
    color: #4F7369;
}
.guide  {
  text-align: center;
  color: #194659;
  }
#mhead  {
    text-align: left;
	font-family: countryside;
  }
#mission{
  text-align: left;
	font-family: BAHNSCHRIFT light;
}
#header  {
  color: #194659;
}
.banner {
  width: 700px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  text-align: left;
  
}
#brandname {
  font-family: countryside;
  text-align: left;
  font-size: 80px;
  margin-right: auto;
  margin-left: auto;

 }
#bodyblock  {
  background: #EBF2F1;
  border: 1px solid #194659;
  height: auto;
  position: relative;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
}
#bodyblock::after  {
  border: 3px solid #194659;
  content: '';
  display: block;
  filter: blur(2px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
h2{
  font-family: countryside;
}
.column {
  float: left;
  width: 50%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column ul {
  text-align: left;
}
.column li {
  text-align: left;
}
.goal{
  text-align: center;
}
#font{
  text-align: left;
  margin-left: 20px;
}
#personal	{
	font-style: italic;
	text-align: center;
}
.country {
  font-family: countryside;
}
.bahn {
  font-family: BAHNSCHRIFT light;
}
#colorboxes  {
  margin-left: auto;
  margin-right: auto;
  width: 460px;
  height: 60px;
}
.color-boxone {
  background-color: #7dbfb3;
  border: solid black;
  width: 100px;
  height: 50px;
  padding: 5px;
  float: left;
  color: #000000;
}
.color-boxtwo {
  background-color: #eBF2F1;
  border: solid black;
  width: 100px;
  height: 50px;
  padding: 5px;
  float: left;
  color: #000000;
}
.color-boxthree {
  background-color: #4f7369;
  border: solid black;
  width: 100px;
  height: 50px;
  padding: 5px;
  float: left;
  color: #000000;
}
.color-boxfour {
  background-color: #194659;
  border: solid black;
  width: 100px;
  height: 50px;
  padding: 5px;
  float: left;
  color: #000000;
}

#footcolor{
  background-color: #194659;
  width: auto;
  height: 150%;
  margin-top: auto;
  text-align: center;
}
footer {
	width: 100%;
  margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
