body	{
  	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 50px;
  	font-family: Georgia;
  	color: #ecf2f2e;
  	background-color: #7dbfb3;
  	font-size: 100%;
}
#heading	{
	margin-left: auto;
  	margin-right: auto;
  	font-color: #8d8c71;
  	font-family: Tahoma;
	text-align: center;
}
a:link {
  color: #194659;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: a9f3e6;
  background-color: transparent;
  text-decoration: strikethrough;
}

a:hover {
  color: #ecf2f2;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: 194659;
  background-color: transparent;
  text-decoration: underline overline #194659;
}
footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	text-align: center;
	position: fixed;
}
