@font-face {
  font-family: BAHNSCHRIFT light;
  font-style: normal;
  font-weight: 400;
  src: local("BAHNSCHRIFT light"), url("https://avang006.github.io/components/BAHNSCHRIFT.TTF");
}

@font-face {
  font-family: countryside;
  font-style: normal;
  font-weight: 400;
  src: local("countryside"), url("https://avang006.github.io/components/COUNTRYSIDE-YDKJ.TTF");
}
.personal	{
	text-align: center;
}
body	{
  	margin-left: auto;
  	margin-right: auto;
	  flex-direction: column;
    display: flex;
  	font-family: BAHNSCHRIFT light;
  	color: #194759;
  	background-color: #7dbfb3;
  	font-size: 100%;
    min-height: 100vh;
}
#header: {
  color: #d9ecf5;
}
#heading	{
	margin-left: auto;
  margin-right: auto;
  color: #d9ecf5;
  font-family: Palatino;
	text-align: center;
  font-size: 100%;
}
#page_wrapper {
    width: 200%;
    max-width: 1024px;
    margin: 0 auto;
}
a:link {
  color: #d9ecf5;
  background-color: transparent;
  text-decoration: underline dotted;
  font-family: BAHNSCHRIFT light;
}

a:visited {
  color: #d9ecf5;
  background-color: transparent;
   text-decoration: line-through;
}

a:hover {
  color: #7dbfb3;
  background-color: transparent;
  text-decoration: underline dotted;
}

a:active {
  color: #d9ecf5;
  background-color: transparent;
  text-decoration: underline overline #d9ecf5;
}
header {
    background-color: #7dbfb3;
}
nav {
    height: 50px;
    background-color: #7dbfb3;
    text-align: center;
    width: 100%;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
    background-color: #194659;
    width: 100%;
}
nav li {
    display: inline-block;
    height: 100%;
    padding: 10px;
}
nav li a: {
    font-family: cursive;
    color: #d9ecf5;
    font-size: 16px;
    text-decoration: none;
    
}
nav li a:hover {
    color: #7dbfb3;
}
.banner {
  width: 700px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  text-align: left;
  
}
#brandname {
  font-family: countryside;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-top: 55px;

 }
#bodyblock  {
  background: #d9ecf5;
  border: 1px solid #194659;
  height: auto;
  position: relative;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: -90px;
  padding: 10px;
  text-align: center;
	font-size: 18px;

}
h2{
  font-family: countryside;
}
.pbody {
  text-align: left;
	font-size: 18 px;
}
#namelink {
  color: #194659;
}
#etag{
	color: #d9ecf5;
}
#footcolor{
  background-color: #194659;
  width: 100%;
  height: 150%;
  margin-top: auto;
  text-align: center;
}
footer {
	width: 100%;
  margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
