@font-face {
  font-family: BAHNSCHRIFT light;
  font-style: normal;
  font-weight: 400;
  src: local("BAHNSCHRIFT light"), url("https://avang006.github.io/components/BAHNSCHRIFT.TTF");
}
@font-face {
  font-family: FREYA;
  font-style: normal;
  font-weight: 400;
  src: local("FREYA"), url("https://avang006.github.io/components/FREYA.TTF");
}
.vl {
  border-left: 3px solid green;
  height: 50px;
  position: absolute;
}
body{
  background-color: #7dbfb3;
  margin: auto;
  color: #194659;
  font-size: 20px;
  font-family: BAHNSCHRIFT light;
}
.header{
  background-color: #d9ecf5;
  padding: 10px;
  text-align: center;
  
}

/* Style the links inside the navigation bar */
.navbar{
  text-align: center;
  background-color: #d9ecf5;
  margin: 0;
  padding-bottom: 15px;
  
}
.navbar a {
  color: #194659;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  text-decoration: underline dotted;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #d9ecf5;
  color: #4f7369;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.tagline {
  font-variant: small-caps;
  color: #194659;
}
.footer{
  height: auto;
  padding: 20px 20px 20px 20px;
  width: 800px;
  background-color: #d9ecf5;
  margin: auto;
  text-align: center;
}
.footer a {
  color: #194659;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  text-decoration: underline dotted;
  display: inline-block;
}

/* Change the color of links on hover */
.footer a:hover {
  color: #4f7369;
}

/* Add a color to the active/current link */
.footer a.active {
  color: white;
}
a {
  color: #194659;
  text-decoration: underline dotted;
}
.a:hover{
   color: #4f7369;
}
.info {
  height: auto;
  padding: 20px 20px 20px 20px;
  width: 800px;
  background-color: #d9ecf5;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: FREYA;
}
h2 {
  font-family: FREYA;
}
.about {
  text-align: left;
}
.style {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.font-one {
  font-family: BAHNSCHRIFT light;
}
.font-two {
  font-family: FREYA;
}
figure {
  width: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: auto;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #000000;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="file"] {
  padding: 1px 2px;
}

.inline{
  display: inline; 
}
.colorboxes {
  text-align: center;
  
}
.color-boxone {
  background-color: #7dbfb3;
  width: 50%;
  border-color: #000000;
  border-style: solid;

}
.color-boxtwo {
  background-color: #d9ecf5;
  width: 50%;
  border-color: #000000;
  border-style: solid;
 
}
.color-boxthree {
  background-color: #4f7369;
  color: #d9ecf5;
  width: 50%;
  border-color: #000000;
  border-style: solid;
 
}
.color-boxfour {
  background-color: #194659;
  color: #d9ecf5;
  width: 50%;
  border-color: #000000;
  border-style: solid;
  
}
.button {
  background-color: #7dbfb3;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0 5px #999;
}
.button:hover {
  background-color: #8ec7c1;
  }
