body
{
  margin: 300px;
  font-family: Tahoma;
  color: black;
  background-color: #CDB7F6;
  font-size: 100%;
}
h1
{
  font-family: Georgia;
}
.footer
{
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
