body
{
  margin: 200px;
  font-family: Tahoma;
  color: black;
  background-color: #CDB7F6;
  font-size: 100%;
  text-align: center;
}
h1
{
  font-family: Georgia;
  text-align: center;
}
img
{
  align: center;
}
footer
{
  text-align: center;
  margin: auto 0;
}
