body  {
	font-family: Tahoma;
	color: black;
	background-color: #CDB7F6;
	font-size: 100%;
	margin-right: auto;
	margin-left: auto;
}
.header, .nav  {
	font-family: Georgia;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.info  {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
h2 {
	text-align: center;
}
figure {
	display: inline-block;
	text-align: center;
	border: none;
	margin-right: auto;
	margin-left: auto;	
}
figure img {
	vertical-align: top;
	margin-right: auto;
	margin-left: auto;
}
figure figcaption {
	border: none;
	margin-right: auto;
	margin-left: auto;
}
footer {
	width: 100%;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	text-align: center;
}
