@font-face {
  font-family: BAHNSCHRIFT light;
  font-style: normal;
  font-weight: 400;
  src: local("BAHNSCHRIFT light"), url("https://avang006.github.io/WEB250/components/BAHNSCHRIFT.TTF");
}
body{
  background-color: #EEEAE3;
  margin: auto;
  color: #331800;
  font-size: 20px;
  font-family: BAHNSCHRIFT light;
}

/* Header */
.header{
  background-color: #EEEAE3;
  padding: 10px;
  text-align: center;
  
}

/* Style the links inside the navigation bar */
.navbar{
  text-align: center;
  background-color: #EEEAE3;
  margin: 0;
  padding-bottom: 15px;
  
}
.navbar a {
  color: #331800;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  text-decoration: underline;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #EEEAE3;
  color: #DDD6CE;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #EEEAE3;
  color: white;
}

/*footer*/
.footer{
  height: auto;
  padding: 20px 20px 20px 20px;
  width: 900px;
  background-color: #EEEAE3;
  margin: auto;
  text-align: center;
}
.footer a {
  color: #331800;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

/* Change the color of links on hover */
.footer a:hover {
  color: #DDD6CE;
}

/* Add a color to the active/current link */
.footer a.active {
  color: #331800;
}
a {
  color: #331800;
  text-decoration: none;
}
.a:hover{
   color: #DDD6CE;
}

/* heading 2*/
h2 {
  font-family: BAHNSCHRIFT light;
  text-align: center;
}

/* Main div */
.info {
  height: auto;
  padding: 20px 20px 20px 20px;
  width: 600px;
  background-color: #EEEAE3;
  margin: auto;
}

/*Paragraph information*/
.about {
  text-align: left;
}

/* Image */
.img {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Paragraph */
p {
  text-align: center;
}

/* span */
.style {
  font-style: italic;
}

/* Figure */
figure {
  width: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: auto;
}

