@font-face {
  font-family: BAHNSCHRIFT light;
  font-style: normal;
  font-weight: 400;
  src: local("BAHNSCHRIFT light"), url("https://avang006.github.io/WEB250/components/BAHNSCHRIFT.TTF");
}
body{
  background-color: #EEEAE3;
  margin: auto;
  color: #BOA99F;
  font-size: 20px;
  font-family: BAHNSCHRIFT light;
}
.header{
  background-color: #EEEAE3;
  padding: 10px;
  text-align: center;
  
}
.footer{
  height: auto;
  padding: 20px 20px 20px 20px;
  width: 900px;
  background-color: #EEEAE3;
  margin: auto;
  text-align: center;
}
.footer a {
  color: #BOA99F;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  text-decoration: underline dotted;
}

/* Change the color of links on hover */
.footer a:hover {
  color: #DDD6CE;
}

/* Add a color to the active/current link */
.footer a.active {
  color: #BOA99F;
}
a {
  color: #BOA99F;
  text-decoration: underline dotted;
}
.a:hover{
   color: #DDD6CE;
}
h2 {
  font-family: BAHNSCHRIFT light;
  text-align: center;
}
.tagline {
  font-variant: small-caps;
  color: #BOA99F;
}
.info {
  height: auto;
  padding: 20px 20px 20px 20px;
  width: 900px;
  background-color: #EEEAE3;
  margin: auto;
}
.img {
  width: 75%;
  height: auto;
  margin: auto;
}
.about {
  text-align: center;
}
