body{
  background-color: #50258c;
  margin: auto;
  color: #E4EBF7;
  font-size: 20px;
  font-family: "Trirong", serif;
  text-align: center;
}

/* Header */
.header{
  background-color: #50258c;
  padding: 10px;
  text-align: center;
  font-family: "Sofia", sans-serif;
  
}

/* Style the links inside the navigation bar */
.navbar{
  text-align: center;
  background-color: #50258c;
  padding: 50px;
  
}
.navbar a {
  color: #50258C;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  background-color: #c69deb;
  border-radius: 12px;
  margin-left: 10px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #c412bd;
  color: #E4EBF7;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: #E4EBF7;
}

/*footer*/
.footer{
 background-color: #50258c;
  margin: auto;
  text-align: center;
  padding: 30px;
}
.footer a {
  color: #50258C;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  background-color: #c69deb;
  border-radius: 12px;
  margin-left: 10px;
 }

/* Change the color of links on hover */
.footer a:hover {
 background-color: #c412bd;
 color: #E4EBF7;
}
/* Add a color to the active/current link */
.footer a.active {
  color: #331800;
}
.a {
  text-decoration: underline;
  color: #50258C;
}
.a a:hover {
  text-decoration: underline;
  color: #E4EBF7;
}
/* heading 2*/
h2 {
  font-family: "Sofia", sans-serif;
  text-align: center;
}

/* Main div */
main {
  background-color: #c69deb;
  margin: auto;
  color: #50258C;
  width: 800px;
  border-top: 20px solid #c69deb;
  border-bottom: 20px solid #c69deb;
 }
main {
  border-left: 20px solid #c69deb;
  border-right: 20px solid #c69deb;
}

/* Image */
.img {
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
/* Paragraph */
p {
  text-align: left;
}
.center {
  text-align: center;
}
/* bullet list*/
ul {
  text-align: left;
}
/* span */
.style {
  font-style: italic;
}

/*Letter weight*/
.bold {
  font-weight: bold;
}

/* Figure */
figure {
  width: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: auto;
}
.boxb {
    background: #50258C;
    border: 2px solid black;
    display: inline-block;
}
.boxc {
    background: #E4EBF7;
    border: 2px solid black;
    display: inline-block;
}
.boxd {
    background: #C412BD;
    border: 2px solid black;
    display: inline-block;
}
.boxe {
    background: #C69DEB;
    border: 2px solid black;
    display: inline-block;
}
.inside {
  color: black;
  padding-top: 15px;
}
table {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  
}
th, td {
  border: none;
  text-align: left;
  padding-left: 10px;
}
.fonta {
  font-family: "Trirong", serif;
}
.fontb {
   font-family: "Sofia", sans-serif;
  }
