@font-face {
  font-family: BAHNSCHRIFT light;
  font-style: normal;
  font-weight: 400;
  src: local("BAHNSCHRIFT light"), url("https://avang006.github.io/WEB250/components/BAHNSCHRIFT.TTF");
}
@font-face {
  font-family: Feena Casual;
  font-style: normal;
  font-weight: 400;
  src: local("Feena Casual"), url("https://avang006.github.io/WEB250/components/FEENC__.TTF");
}

body{
  background-color: #50258c;
  margin: auto;
  color: #ffffff;
  font-size: 20px;
  font-family: BAHNSCHRIFT light;
  text-align: center;
}

/* Header */
.header{
  background-color: #50258c;
  padding: 10px;
  text-align: center;
  font-family: Feena Casual;
  
}

/* Style the links inside the navigation bar */
.navbar{
  text-align: center;
  background-color: #50258c;
  margin: 0;
  padding-bottom: 15px;
  
}
.navbar a {
  color: #ffffff;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  background-color: #ef52e9;
  border-radius: 12px;
  margin-left: 10px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #c412bd;
  color: #ffffff;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: #ffffff;
}

/*footer*/
.footer{
  height: auto;
  background-color: #50258c;
  margin: auto;
  text-align: center;
  padding: 50px;
}
.footer a {
  background-color: #ef52e9;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  padding: 14px 10px;
  margin-left: 10px;
}

/* Change the color of links on hover */
.footer a:hover {
  background-color: #c412bd;
}

/* Add a color to the active/current link */
.footer a.active {
  color: #331800;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.a:hover{
   color: #DDD6CE;
}
#namelink {
  text-decoration: underline;
  color: #ffffff;
}
#namelink:hover {
  text-decoration: underline;
  color: #50258c;
}

/* heading 2*/
h2 {
  font-family: BAHNSCHRIFT light;
  text-align: center;
}

/* Main div */
.info {
  height: auto;
  width: 900px;
  background-color: #c69deb;
  margin: auto;

}

/*Paragraph information*/
.about {
  text-align: left;
  padding: 10px;
}

/* Image */
.img {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.infomain {
  padding: 40px;
}

/* Paragraph */
p {
  text-align: center;
}

/* span */
.style {
  font-style: italic;
}

/*Letter weight*/
.bold {
  font-weight: bold;
}

/* Figure */
figure {
  width: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: auto;
}
.base {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 100px;
    height: 100px;
}

.base_type1 {
    background: #EF52E9;
    border: 2px solid black;
    display: inline-block;
}
.base_type2 {
    background: #50258C;
    border: 2px solid black;
    display: inline-block;
}
.base_type3 {
    background: #FFFFFF;
    border: 2px solid black;
    display: inline-block;
}
.base_type4 {
    background: #C412BD;
    border: 2px solid black;
    display: inline-block;
}
.base_type5 {
    background: #C69DEB;
    border: 2px solid black;
    display: inline-block;
}
.inside {
  color: black;
  padding-top: 15px;
}
table {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  
}
th, td {
  border: none;
  text-align: left;
  padding-left: 10px;
}
.fonta {
  font-family: BAHNSCHRIFT light;
}
.fonta {
   font-family: Feena Casual;
  }
