@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.trirong-regular {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: normal;
}
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: #50258c;
  margin: auto;
  color: #E4EBF7;
  font-size: 20px;
  font-family: "Trirong", serif;
  text-align: center;
}

/* Header */
header{
  background-color: #50258c;
  text-align: center;
  line-height: 1;
}

/* Style the links inside the navigation bar */
.navbar{
  text-align: center;
  background-color: #50258c;
  padding-bottom: 30px;
  font-family: "Trirong", serif;
  overflow: auto;
}
.navbar a {
  color: #50258C;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  background-color: #c69deb;
  border-radius: 12px;
  display: inline-block;
 }

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #c412bd;
  color: #E4EBF7;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: #E4EBF7;
}

/*footer*/
.footer{
  background-color: #50258c;
  margin: auto;
  text-align: center;
  padding: 30px;
}
.footer a {
  font-weight: bold;
  color: #50258C;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: #c69deb;
  border-radius: 12px;
  display: inline-block;
 }

/* Change the color of links on hover */
.footer a:hover {
 background-color: #c412bd;
 color: #E4EBF7;
}
/* Add a color to the active/current link */
.footer a.active {
  color: #331800;
}
a {
  text-decoration: underline;
  color: #50258C;
}
a:hover {
  text-decoration: underline;
  color: #E4EBF7;
}
/* heading 2*/
h1, h2,h3 {
  font-family: "Sofia", sans-serif;
  text-align: center;
}
/* Main div */
main {
  background-color: #c69deb;
  margin: auto;
  color: #50258C;
  width: 790px;
  padding-top: 10px;
  padding-bottom: 60px;
 }
main {
    padding-left: 60px;
    padding-right: 60px;
}

/* Image */
.img {
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
/* Paragraph */
p {
  text-align: left;
  margin: auto;
  padding: 10px;
  line-height: 2;
}
.center {
  text-align: center;
}
/* bullet list*/
ul {
  text-align: left;
}

/* Figure */
figure {
  width: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: auto;
}
.boxb {
    background: #50258C;
    border: 2px solid black;
    display: inline-block;
}
.boxc {
    background: #E4EBF7;
    border: 2px solid black;
    display: inline-block;
}
.boxd {
    background: #C412BD;
    border: 2px solid black;
    display: inline-block;
}
.boxe {
    background: #C69DEB;
    border: 2px solid black;
    display: inline-block;
}
table {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  
}
th, td {
  border: none;
  text-align: left;
  padding-left: 10px;
}

.fonta {
    font-family: "Sofia", sans-serif;
}
.fontb {
    font-family: "Trirong", serif;
}
.center {
    text-align: center;
}
